*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(210, 11%, 15%)
}